<div class="container " style="  display: flex;
  align-items: center;
  padding-top: 10%;
 ">


  <main class="form-signin bg-dark p-5 rounded">
  <form class="d-flex flex-column text-center gap-2" action="/admin/adminLogin" method="post">
   
    <h1 class="h3 mb-3 fw-normal text-white">Admin sign In</h1>

    <div class="form-floating">
      <input type="email" name="mail" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    {{#if loginErr}}
    <div class="bg-danger rounded text-white">
        <p class="error my-auto">invalid username or password</p>
    </div>
    {{/if}}



 <div class="d-flex gap-3"> 
    <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
 </div>
    
  </form>
</main>

</div>

